textarea {
	border: 0 none white;
	outline: none;
    line-height: 1!important;
	padding-top:10px;
	padding-bottom:25px;
	background-color: #D0D0D0;
	display:block;
	overflow: hidden;
}

td {
    vertical-align: middle!important;
}

.error-input {
	display: none;
	color: red;
}

th
{
	font-weight: bold;	
}

/*.green-border-focus .form-control:focus {*/
	/*border: 1px solid #8bc34a;*/
	/*box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);*/
/*}*/
